*{
    margin: 0;
    padding: 0;

}

body{

    background-color: rgb(214, 2, 2);
    background-size:contain;
    min-height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#logot{

    height:50px;
    width: 50px;
    border-radius: 20%;
   margin: 0px 20px;
}



h3{
    text-align: end;
    padding: 5px 30px;
    color: #fffcfc;
}
h4{

    text-align: end;
    padding: 5px 30px;
    color: #fffcfc;
}



a{
    text-decoration: none;
    color:#fff;
}

header {
    position: fixed;
    width: 95%;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

header .logo{
    font-size: 45px;
    text-transform: uppercase;

}

header ul {
    display: flex;
    justify-content:center;
    align-items: center;
    list-style: none;

}

header ul li{
 margin-right: 30px;
 border-radius: 20px;

}

header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 18px;
}

header ul li a:hover, .active{
    background: #fff;
    color: rgb(143, 2, 98);

}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,rgb(143, 2, 98),transparent);

}

.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
   
}

#moon{
    mix-blend-mode: screen;
    transform: translateY(80px);
}
.safari{
    color: #fff;
    font-size: 10px;
    text-transform:uppercase ;
    transform: translateY(-140px);

}

.content{
    color: #fff;
    padding: 30px;
}
.content h2{
    margin: 20px;
    font-size: 30px;
}
.content p{
    margin: 20px;
}



/**********************  media qurry ***********/

@media  (max-width:420px){
    



        
    header .logo{
        font-size:35px;


    } 



    header ul li a{
        padding: 4px 8px;
    
        font-size: 12px;
    }


    header ul li{
        margin-right: 15px;
    
    
    }

}   


@media (max-width:300px){

    
    
        
    header .logo{
        font-size:30px;


    } 



    header ul li a{
        padding: 3px 6px;
    
        font-size: 10px;
    }


    header ul li{
        margin-right: 15px;
    
    
    }
    
    }




